#heroButton {
    background-color: blue;
    color: aliceblue;
}
.link {
    color: #4262ff;
    text-decoration: underline;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
heroText {
    color: #050038;
}
.sectionText {
    color: #696688;
}
header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}
.heroForm + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
}