body {
    background-color: rgb(250, 183, 183);
    font-family: Arial, Helvetica, sans-serif
}
main{
    background-color: aliceblue;
}
h1 {
    font-size: 18px;
}
input {
    background-color: rgb(235, 234, 234);
}
button {
    background-color: rgb(141, 193, 246);
}